<div style="width: 100%; text-align: center">
  <h1>Welcome</h1>
  <p>
    This guide aims to help beginners of Typed Racket language by providing a
    path for study. As much as this guide will be a good starting point, reading
    the documentation and trying out on Dr Racket are crucial elements for
    success!
  </p>
  <p>Use the sidebar or click on a button to start your journey!</p>
  <div class="welcome-card-holder">
    <div
      class="welcome-card mat-elevation-z4"
      matRipple
      routerLink="about-the-guide"
    >
      <mat-icon class="drawer-icon">school</mat-icon> About
    </div>
    <div style="width: 50px"></div>
    <br /><br />
    <div
      class="welcome-card mat-elevation-z4"
      matRipple
      routerLink="setup-racket"
    >
      <mat-icon class="drawer-icon">video_library</mat-icon> Start
    </div>
    <div style="width: 50px"></div>
    <br /><br />
    <a
      style="text-decoration: none; color: inherit"
      href="https://docs.racket-lang.org/search/index.html"
      target="_blank"
      ><div class="welcome-card mat-elevation-z4" matRipple>
        <mat-icon class="drawer-icon">book</mat-icon> Docs
      </div></a
    >
  </div>
  <br /><br /><br />
  <p>The guide is nowhere complete yet! So things are subject to change!</p>
</div>
