<div style="width: 100%; text-align: center">
  <h1>Welcome</h1>
  <p>Some interesting text here...</p>
  <div class="welcome-card-holder">
    <div class="welcome-card mat-elevation-z4" matRipple routerLink="about-the-guide">
      Here be an icon for About
    </div>
    <div style="width: 50px"></div>
    <br /><br />
    <div class="welcome-card mat-elevation-z4" matRipple routerLink="setup-racket">
      Here be an icon for getting started
    </div>
    <div style="width: 50px"></div>
    <br /><br />
    <div class="welcome-card mat-elevation-z4" matRipple routerLink="setup-racket">
      Here be yet another icon for something idk
    </div>
  </div>
</div>
