<div style="width: 100%; text-align: center">
    <h1>Setting up Dr Racket</h1>
</div>
<mat-tab-group mat-align-tabs="center" dynamicHeight>
    <mat-tab label="Overview"><br>
        <h3>Download Dr Racket</h3>
        <p>You can use <a href="https://download.racket-lang.org/" target="_blank" rel="noopener noreferrer">this link</a> to download the latest version of Dr Racket.</p>
        <p>I think it is important to make a distinction here. Dr Racket is an IDE (or the program that can interpret the programming language). Plus, IDEs often have some helpful tools like autocomplete that come with them. Without any interpreter you will not be able to run your code. Racket is the name of the programming language. More specifically, Typed Racket is the name of the programming language this guide will focus on. There is a slight difference between the two, which will be discussed later in the guide.</p>
        <br>
        <h3>Install Dr Racket</h3>
        <p>Once the download is complete, run the file and follow the instructions.</p>
        <p>It should be straightforward, but I plan on adding a FAQ section here.</p>
        <br>
        <h3>Declare the language you use</h3>
        <p>Add "<span class="t-b">#lang typed/racket</span>" at the top of your document.</p>
        <p>This is necessary, so that the IDE knows whether to interpret Racket or Typed Racket. In that sense, you have to add this line at the top of every document you have (assuming you want to use Typed Racket). If you do not want to copy-paste this line every single time you open a project, there is a way to automatize it!</p>
        <ol>
            <li><p>Open Dr Racket.</p></li>
            <li><p>Click on “Determine language from source” in the bottom-left corner.</p></li>
            <li><p>Click on “Choose Language...”</p></li>
            <li><p>Click on ”Show Details”</p></li>
            <li><p>On bottom-right, type “#lang typed/racket” in “Automatic #lang line”</p></li>
            <li><p>Click on OK</p></li>
            <li><p>Open a new Racket project to test if it is working.</p></li>
        </ol>
        <br>
        <h3>Import required libraries</h3>
        <p>Racket comes with some built-in functions which we refer as the "base" functions of this language. Of course, there are extra functionality of the language which are not included by default and/or created by a third party. Those are called libraries. In this guide you will only need three of them:</p>
        <ul>
            <li><p><span class="t-b">typed/2htdp/image</span> deals with images.</p></li>
            <li><p><span class="t-b">typed/2htdp/universe</span> deals with big-bang, keystroke handlers, clock-tick handlers, etc.</p></li>
            <li><p><span class="t-b">typed/test-engine/racket-tests</span> deals with unit tests, e.g. check-expect and check-within.</p></li>
        </ul>
        <p>In order to include these libraries inside your code, you need to use the "require" function. The syntax is simple:</p>
        <ul class="code">
            <li><p>(<span class="t-b">require</span> library_name)</p></li>
        </ul>
        <p>For instance, if you work with images in your code:</p>
        <ul class="code">
            <li><p>(<span class="t-b">require typed/2htdp/image</span>)</p></li>
        </ul>
        <p>If you want to import multiple libraries, you do not need to type "require" over and over:</p>
        <ul class="code">
            <li><pre><p>(<span class="t-b">require typed/2htdp/image
         typed/2htdp/universe
         typed/test-engine/racket-tests</span>)</p></pre></li>
        </ul>
        <br>
        <h3>You are all set up!</h3>
        <p>Good luck! Remember that practice makes perfect :)</p>      
    </mat-tab>
    <mat-tab label="FAQ"><br>
        <h3>Q: Why is this page so empty?</h3>
        <p>A: Because no one asked anything yet!</p>
    </mat-tab>
</mat-tab-group>

<br>
<br>