<div style="width: 100%; text-align: center">
    <h1>Setting up Racket</h1>
</div>
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Overview"><br>
        <p>
            Sed pellentesque urna vel sem tempus, quis molestie neque scelerisque. Nullam eget est sit amet eros scelerisque accumsan eu vel massa. Vestibulum ut tellus mi. Maecenas et orci non lectus maximus sodales. Curabitur fringilla, nulla a sodales tincidunt, velit mauris sagittis mi, non pretium leo diam ac magna. Suspendisse feugiat fringilla est, at consequat ante pharetra sed. Nunc luctus tincidunt enim id mollis. Nunc ultricies velit et eros luctus suscipit. Cras feugiat est ex. Quisque odio diam, pretium eget lectus id, mollis euismod metus. Vivamus efficitur aliquam purus sit amet dictum. Integer dapibus lacus ut tellus sagittis, ut ornare augue scelerisque.
            <br><br>
            Nam mollis urna tincidunt tempus dapibus. Suspendisse ac tortor ac nisi tempus egestas. Sed dictum mi nec velit tincidunt elementum. Etiam quam lorem, tristique ut erat vitae, vestibulum tincidunt velit. Maecenas sollicitudin gravida lectus sit amet imperdiet. Sed cursus dolor erat, scelerisque tincidunt ligula vestibulum sit amet. Quisque maximus facilisis libero, a scelerisque leo placerat quis.
            <br><br>
            Etiam sit amet risus laoreet, convallis felis id, vestibulum arcu. Ut a leo vitae ex laoreet facilisis. Ut faucibus augue nisl, in dignissim magna molestie nec. Nulla ut congue augue. Proin elit nulla, ultrices vitae odio a, porttitor tempor magna. Pellentesque rutrum sollicitudin pharetra. Sed pretium nisl ac leo sodales sagittis. Maecenas sit amet imperdiet magna. Donec sem risus, ultricies a imperdiet et, dictum in mauris. Etiam gravida quam augue, at tempus nibh iaculis non. Duis ac ultricies ante. Sed viverra sed quam id molestie. Maecenas eget efficitur orci, in malesuada nunc. Aliquam in risus volutpat, mattis quam nec, gravida sem. Etiam eget porttitor ante, sit amet ullamcorper enim.
            <br><br>
            Duis sagittis magna eu tortor sagittis pharetra. Aliquam eu turpis nec nunc fermentum accumsan. Donec nec justo eros. Curabitur vel lectus at massa varius cursus. Aliquam erat volutpat. In id velit pharetra, ultricies ipsum nec, imperdiet tortor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin consequat velit vel augue volutpat, at efficitur justo mattis. In orci felis, finibus vestibulum dignissim eget, condimentum et elit. Proin et nisl eu urna consectetur semper in eu dolor. Duis bibendum enim eget justo tincidunt pretium. Cras malesuada augue in arcu facilisis porta. Phasellus semper leo sed quam vulputate, fermentum congue velit dapibus. Vestibulum rutrum vel lacus viverra blandit. 
        </p>
    </mat-tab>
    <mat-tab label="Acknowledgements"><br>
        Content 2
    </mat-tab>
    <mat-tab label="Other resources"><br>
        Content 3
    </mat-tab>
  </mat-tab-group>