<div style="width: 100%; text-align: center">
    <h1>About the guide</h1>
</div>
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Overview"><br>
        <h3>What is this?</h3>
        <p>This guide is a simplified version of the official documentation, in the hopes to make learning Typed Racket easier. The courses are ordered in a way that makes sense if someone decides to learn Typed Racket themselves. I hope you find the guide useful!</p>
        <br>
        <h3>How should I study?</h3>
        <p>The guide will provide basic examples to get you started on the language. However, it is crucial that you experiment with code yourself and read the official Racket documentation alongside. I will be adding some example questions and challenges here and there to encourage you reading further. If you have any questions, you can also contact me!</p>
        <br>
        <h3>Acknowledgements</h3>
        <p>Even though I double check everything I write here, this does not mean it is correct. Indeed, I hope that the guide will aid the learning process; however I cannot guarantee that the information here is up-to-date. Moreover, this guide does not intend on helping people to master the language! It is a great way to start learning the language, but there is a lot more to the language. Once you get the hang of the structure and essentials of this language, I highly recommend reading other resources. If you have any suggestions or corrections for me to minimize these errors, please contact me!</p>
    </mat-tab>
    <mat-tab label="Other resources"><br>
        <p>Here is the link to official Racket documentation.</p>
        <br>
        <p>I will add more to here over time.</p>
    </mat-tab>
    <mat-tab label="Contact"><br>
        <p>Thank you for checking out my simplified Racket guide! I am a student at Amsterdam University College who enjoys learning and teaching, and this was my side project to help at least my local community. Although no monetary gain is aimed through this website, any donation is appreciated for me to afford the hosting services :)</p>
        <br>
        <h3>Contact information</h3>
        <p>Berke Filiz</p>
        <p>Email: edu.berkefiliz@gmail.com</p>
        <p>Whatsapp: +31 6 33648165</p>
        <p>Discord: Berke Filiz#9751</p>
        <p>Skype: live:edu.berkefiliz</p>
    </mat-tab>
  </mat-tab-group>