<div style="width: 100%; text-align: center">
    <h1>Exercise 1</h1>
</div>
<mat-tab-group mat-align-tabs="center" dynamicHeight>
    <mat-tab label="Questions"><br>
        <h3>Question 1 - Name of the question</h3>
        <p>Imagine that this is a question for now. Thanks!</p>
        <br>
        <h3>Question 2 - Question's name</h3>
        <p>One more here I guess.</p>
        <br>
    </mat-tab>
    <mat-tab label="Answers"><br>
        <h3>Question 1 - Name of the question</h3>
        <p>There will be a code block with my answer and explanation.</p>
        <ul class="code">
            <li><pre><p>(<span class="t-b">require typed/2htdp/image
         typed/2htdp/universe
         typed/test-engine/racket-tests</span>)</p></pre></li>
        </ul>
        <br>
        <h3>Question 2 - Question's name</h3>
        <p>Same here.</p>
        <ul class="code">
            <li><pre><p>(<span class="t-b">require typed/2htdp/image
         typed/2htdp/universe
         typed/test-engine/racket-tests</span>)</p></pre></li>
        </ul>
    </mat-tab>
</mat-tab-group>

<br>
<br>