* {
    transition: background-color 0.1s, color 0.1s;
}

p {
    font-size: 18px;
    line-height: 34px;
}

h1 {
    font-size: 32px;
}

h3 {
    font-size: 20px;
    font-weight: 500;
}

ul.code {
    list-style: none;
    border: 1px solid rgba(127,127,127,.3);
    border-radius: 10px;
    padding-top: 10px;
}

pre {
    margin: 0;
}

ul.code p {
    font-family: monospace;
}

// #############################

.t-b {
    color: #7979FF;
}

// #############################

.spacer {
    flex: 1 1 auto;
}

.drawer-container {
    top:0;
    left:0;
    margin: 0;
    width: 100%;
    flex: 1;
}

.drawer-icon {
    font-size: 20px;
}

.drawer-separator {
    margin: 24px 0 6px 16px;
    font-size: 16px;
    font-weight: 500;
}

.sidebar {
    width: 300px;
    padding: 0;
}

.material-icons {
    display: inline-flex;
    vertical-align: middle;
}

.mat-tab-group {
    margin-bottom: 48px;
}